@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 8%;
    --popover-foreground: 240 5% 96%;

    --primary: 46 100% 58%;
    --primary-foreground: 0 0% 0%;

    --secondary: 24 10% 10%;
    --secondary-foreground: 50 98% 64%;

    --muted: 240 6% 10%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 4% 16%;
    --accent-foreground: 46 100% 58%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 86% 97%;

    --border: 0 0% 15%;
    --input: 240 10% 4%;
    --ring: 46 100% 58%;

    --radius: 1.875rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 0 0% 9%;

    --sidebar-primary: 20 90% 48%;

    --sidebar-primary-foreground: 33 100% 96%;

    --sidebar-accent: 0 0% 32%;

    --sidebar-accent-foreground: 0 0% 98%;

    --sidebar-border: 0 0% 83%;

    --sidebar-ring: 20 90% 48%;

    --chart-1: 46 100% 58%;

    --chart-2: 39 98% 56%;

    --chart-3: 32 95% 44%;

    --chart-4: 23 82% 31%;

    --chart-5: 21 92% 14%;

    --sidebar: 0 0% 98%;

    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    --font-serif: "Crimson Text", ui-serif, Georgia, Cambria, Times New Roman, Times, serif;

    --font-mono: Inconsolata, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0px 0px 5px 0px hsl(41, 100%, 51%);

    --shadow: 0px 0px 10px 0px hsl(41, 100%, 51%);

    --shadow-md: 0px 0px 15px 0px hsl(41, 100%, 51%);

    --shadow-lg: 0px 0px 25px 0px hsl(41, 100%, 51%);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 25%;
    --popover-foreground: 0 0% 98%;

    --primary: 27 95% 60%;
    --primary-foreground: 12 81% 14%;

    --secondary: 0 0% 45%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 45%;
    --muted-foreground: 0 0% 98%;

    --accent: 20 91% 14%;
    --accent-foreground: 43 96% 56%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 85% 97%;

    --border: 0 0% 32%;
    --input: 0 0% 32%;
    --ring: 27 95% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 27 95% 60%;
    --sidebar-primary-foreground: 12 81% 14%;
    --sidebar-accent: 43 96% 56%;
    --sidebar-accent-foreground: 20 91% 14%;
    --sidebar-border: 0 0% 32%;
    --sidebar-ring: 27 95% 60%;
    --chart-1: 30 97% 72%;
    --chart-2: 45 96% 64%;
    --chart-3: 48 96% 76%;
    --chart-4: 27 95% 60%;
    --chart-5: 0 0% 45%;
    --sidebar: 0 0% 14%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 0px 5px 0px hsl(41, 100%, 51%);
    --shadow: 0px 0px 10px 0px hsl(41, 100%, 51%);
    --shadow-md: 0px 0px 15px 0px hsl(41, 100%, 51%);
    --shadow-lg: 0px 0px 25px 0px hsl(41, 100%, 51%);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-serif: "Crimson Text", ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
    --font-mono: Inconsolata, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --radius: 1.875rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}